.service-and-online {
  width: 392px;
  height: 324px;
  /* margin-top: 25px; */
  background-color: #f9fafb;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.payment-method-header {
  padding-bottom: 8px;
  color: #101828;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
/* .service-and-online {
  display: flex;
  justify-content: center;
  border-radius: 10px
} */

.payment-subtext {
  color: #667085;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.payment-options label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #475467;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.radio_input {
  display: none;
}

.radio__radio {
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #107569;
  border-radius: 50%;
  margin-right: 10px;
}

.radio__radio::after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background: #107569;
  border-radius: 50%;
  transform: scale(0);
}

.radio_input:checked + .radio__radio::after {
  transform: scale(1);
}

.book-session-after-payment {
  width: 332px;
  height: 48px;
  border-radius: 8px;
  background-color: #107569;
  border: none;
  color: white;
  margin-top: 20px;
}
.book-session-after-payment-btn {
  display: flex;
  justify-content: center;
}

.book-session-after-payment:disabled {
  background-color: #d0d5dd;
  color: white;
  border: none;
}
.payment-options {
  width: 332px;
  /* height: 66px; */
  /* padding: 20px; */
  gap: 4px;
  border: 1px;
  /* opacity: 0px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}
/* Style for hr element */
.payment-options hr {
  border: none; /* Remove default border */
  border-top: 2px solid #d0d5dd; /* Add blue border on top */
  margin: 10px 0; /* Add margin for spacing */
}
@media screen and (max-width: 786px) {
  .payment-method {
    width: 100%;
    padding: 1em;
    margin-bottom: 20px;
  }
  .book-session-after-payment {
    margin-top: 1%;
    margin-bottom: 5px;
    width: 100%;
  }
  .service-and-online {
    width: auto;
  }
}
